<h2>Upload Csv</h2>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="csvFile" accept="*.csv">
    <input asp-controller="Folders" asp-action="AddCsv" type="submit">
</form>
