@model IEnumerable<Folder>
<a asp-controller="Folders" asp-action="Upload" class="btn btn-primary">
    Upload Folder
</a>
<ul>
    @foreach (var folder in Model)
    {
       <li><a asp-controller="Folders" asp-action="GetFolders" asp-route-parentId="@folder.Id">@folder.Name</a></li>
    }
</ul>
